# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Symbolicated stack traces
stacktrace.txt

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Visual Studio related
.vs/

# Other editors
*.swp
devtools_options.yaml

# Flutter specific
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins
.flutter-plugins-dependencies
.melosearch/
generated_plugin_registrant.dart

# iOS/Xcode
**/DerivedData/
**/Pods/
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec
**/ServiceDefinitions.json
**/Runner/GeneratedPluginRegistrant.*
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.moved-aside
*.xcsettings

# Android
**/gradle-wrapper.jar
**/local.properties
**/key.properties
**/captures/
**/.externalNativeBuild/
**/.cxx/

# Web

# Logs
*.log

# Linux / macOS
flutter/generated_plugins.cmake

# Windows
**/GeneratedPluginRegistrant.*
